/* for mobile devices */
@media only screen and (min-width: 320px) and (max-width: 480px) {

    /* all section width is 1280px */
    .feature, .catchy-line, .services, .cta, footer {
        width: 1280px;
    }


    /* remove margin from the top and add padding */
    header {
        margin-top: 0px;
        padding: 20px 0px;
        width: 1280px;
        justify-content: space-around;
        gap: 340px;
    }
    
    /* display responsive menu btn */
    header .fas {
        display: block;
    }
    
    /* responsive navbar */
    header nav {
        position: fixed;
        top: 120px;
        left: -130%;
        display: block;
        text-align: center;
        width: 1280px;
        margin: 0px auto;
        transition: all 0.3s ease;
        background: blue;
        z-index: 1;
        color: #ffffff;
    }
    
    /* little hack of responsive menu bar */
    #click:checked ~ nav {
        left: 0%;
    }
    
    /* menu button change when user click on the button and it will show the close btn */
    #click:checked ~ .menu-btn i::before {
        content: "\f00d";
    }
    
    /* responsive navbar anchor tag */
    header nav a {
        display: block;
        text-align: center;
        margin: 20px auto;
        font-size: 20px;
        color: #ffffff;
    }
}

/* for small screen and laptop */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

    /* all section width is 1170px */
    header, .feature, .catchy-line, .services, .cta, footer {
        width: 1170px;
    }
}

/* for desktops and large screen */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    
    /* all section width is 1140px */
    header {
        width: 1200px;
    }

    .services {
        width: 1200px;
    }

    .cta {
        width: 1200px;
    }

    footer {
        width: 1200px;
    }

    .catchy-line {
        width: 1200px;
    }
}